
  p{
    text-align: center;
    color: blue;
    height: 8vh;
  font-size: 70px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-content: center; center;
  margin-top: 200px;
  }
  
    img{
      size: 10px;
      padding: auto;
      margin: auto;
    }
    input{
   width: 500px;
   height: 60px;
    border-radius: 70px;
    border: none; none; none; none;
    box-shadow: 5px 5px 5px 5px #888888;
    margin: 2px;
    font-size: 20px;
    outline-width: 0;
    display: 100vh;
    justify-content: space-between;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
body{
  background-color: whitesmoke;
}

  </style>
